{% extends "base.html.twig" %}

{% block body %}
<div class="container">
   <table class="table table-primary text-center">
      <thead>
         <tr>
            <th>Car Name</th>
            <th>Car Brand</th>
            <th>Car Model</th>
            <th>Car Price</th>
            <th>Car Owner</th>
            <th>Menu</th>
         </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ car.name }} </td>
            <td>{{ car.brand }} </td>
            <td>{{ car.model }} </td>
            <td>{{ car.price }} </td>
            <td>
               {% if car.person != null %}
                  <a href="{{ path ("person_detail", {'id' : car.person.id })}}">
                   {{ car.person.name }} 
                  </a>    
                  {% else %}
                  N/A
               {% endif %}                
            </td>
            <td>
               <a class="btn btn-warning" 
                  href="{{ path ("car_edit", {'id' : car.id }) }}">
                  Edit
               </a>
               <a class="btn btn-danger" 
                  href="{{ path ("car_delete", {'id' : car.id })}}">
               Delete
               </a>
            </td>
         </tr>
      </tbody>
   </table>
</div>
{% endblock %}