{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="text-center mt-3 mb-3">
         <a href="{{ path("car_add") }}">
            <img src="{{ asset("images/add.png") }}" width="50" height="50">
         </a>
    </div>
   <table class="table table-primary text-center">
      <thead>
         <tr>
            <th>Car ID</th>
            <th>Car Name</th>
            <th>Car Price
             <a href="{{ path("sort_car_price_asc") }}">
               <img src="{{ asset("images/up.png") }}" width="15" height="15">
            </a>
            <a href="{{ path("sort_car_price_desc") }}">
               <img src="{{ asset("images/down.png") }}" width="15" height="15">
            </a>             
            </th>
            <th>Menu</th>
         </tr>
      </thead>
      <tbody>
      {% for c in car %}
          <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.brand }} {{ c.name }}</td>
            <td>{{ c.price }} $ </td>
            <td>
               <a class="btn btn-info" 
                  href="{{ path ("car_detail", {'id' : c.id })}}">
                  Detail
               </a>
               <a class="btn btn-warning" 
                  href="{{ path ("car_edit", {'id' : c.id }) }}">
                  Edit
               </a>
               <a class="btn btn-danger" 
                  href="{{ path ("car_delete", {'id' : c.id })}}">
                  Delete
               </a>
            </td>
         </tr>
      {% endfor %}
      </tbody>
   </table>
</div>
{% endblock %}