{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="text-center mt-3 mb-3">
         <a href="{{ path("person_add") }}">
            <img src="{{ asset("images/add.png") }}" width="50" height="50">
         </a>
    </div>
   <table class="table table-primary text-center">
      <thead>
         <tr>
            <th>Person ID</th>
            <th>
            Person Name            
            <a href="{{ path("sort_person_name_asc") }}">
               <img src="{{ asset("images/up.png") }}" width="15" height="15">
            </a>
            <a href="{{ path("sort_person_name_desc") }}">
               <img src="{{ asset("images/down.png") }}" width="15" height="15">
            </a>      
            </th>
            <th>Person Birthday</th>
            <th>Menu</th>
         </tr>
      </thead>
      <tbody>
      {% for p in person %}
          <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.name }} </td>
            <td>
               {% if p.detail != null %}
                   {{ p.detail.birthday | date('d/m/Y') }}
               {% else %}
                   N/A
               {% endif %}       
            </td>
            <td>
               <a class="btn btn-info" 
                  href="{{ path ("person_detail", {'id' : p.id })}}">
                  Detail
               </a>
               <a class="btn btn-primary" 
                  href="{{ path ("person_edit", {'id' : p. id}) }}">   
                  Edit
               </a>
               <a class="btn btn-danger" 
                  href="{{ path ("person_delete", {'id' : p.id })}}">
                  Delete
               </a>
            </td>
         </tr>
      {% endfor %}
      </tbody>
   </table>
</div>
{% endblock %}